<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.boot05web.mapper.AlarmMapper">
<!--    public void insertAlarm(Alarm alarm);-->
<!--    <insert id="insertAlarm" useGeneratedKeys="true" keyProperty="alarmId">-->
<!--        insert into Alarm (alarmNo,date,content)-->
<!--        values (#{alarmNo},#{date},#{content})-->
<!--    </insert>-->
</mapper>